@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');
/*Fonte principal do site: font-family: 'Titillium Web', sans-serif; */

:root{
    --main-letters-color: black;
    --main-p-color: #282828;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(90deg, #ffffff, #ececec);
}
a{
    text-decoration: none;
    color: var(--main-letters-color);
}
.nav-container{
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    gap: 660px;
    background: linear-gradient(90deg, #ffffff, #ececec);
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 3px 0;
}
.logo{
    width: 240px;
    padding-top: 5px;
}
.menu-nav1{
    font-weight: 700;
    font-size: 1.3rem;
}
.menu-nav2{
    display: flex;
    gap: 20px;
}
.menu-item{
    font-weight: 600;
}
.divider{
    padding-bottom: 240px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.content-main{
    width: 60%;
}
.content-header{
    font-size: 2.5rem;
    width: 80%;
    margin-bottom: 25px;
}
.content-paragraph{
    font-weight: 400;
    font-size: 1.2rem;
    width: 77%;
    text-align: justify;
    margin-bottom: 35px;
}
.content-col2{
    display: flex;
    gap: 15px;
}
.sociais-icon{
    width: 35px;
}
.content-profile{
    width: 50%;
}
.about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 31px;
    margin-bottom: 35px;
}
.about-img{
    width: 430px;
    border-radius: 30px;
}
.sub-title-txt{
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--main-letters-color);
}
.about-txt{
    width: 50%;
    font-size: 1.3rem;
    font-weight: 300;
    text-align: justify;
    color: var(--main-p-color);
}
.img-none{
    display: none;
}
.icons-skills{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 106px;
    margin-bottom: 35px;
}
.project1-header{
    font-size: 1.4rem;
}
.project1-texts{
    width: 450px;
}
.project1-text{
    width: 90%;
    text-align: justify;
    font-weight: 300;
}
.uses{
    display: flex;
    align-items: center;
    gap: 33px;
}
.uses2{
    display: flex;
    align-items: center;
    gap: 12px;
}
.project1-uses{
    font-weight: 600;
    cursor: pointer;
}
.project1-btns{
    display: flex;
    gap: 20px;
}
.btn1, .btn2{
    font-weight: 700;
    padding: 7px 10px;
    color: #000000;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 80px;
    gap: 10px;
}
.git-branco,.go-preto{
    width: 40px;
}
.container-project1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 70px;
}
.container-project2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 35px;
    flex-direction: row-reverse;
}
.container-project3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 70px;
}
.clip{
    width: 430px;
    height: 230px;
    border: 1px solid;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
}
.project2-img{
    display: none;
}
.skills-header, .projects-header, .about-header,.contact-header{
    margin: 0 77px 35px 77px;
    font-weight: 600;
    border-bottom: 1px solid #282828;
}
.projects-header{
    margin: 0 77px 35px 77px;
}
.skills{
    cursor: pointer;
    width: 70px;
}

.contact-main-header{
    font-size: 2.2rem;
    width: 525px;
    line-height: 40px;
    margin-bottom: 15px;
}

.contact-main-subheader{
    color: var(--main-p-color);
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.contact-second-header{
    font-size: 2rem;
    margin-top: 60px;
    margin-bottom: 20px;
    border-top: 1px solid #00000070;
}
.form.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 95px;
}
.contact-txt{
    color: var(--main-p-color);
    font-size: 1.3rem;
}
.contact-icons{
    display: flex;
    gap: 200px;
}
.icons-contact{
    width: 30px;
    padding-right: 7px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: var(--main-p-color);
}
input,textarea{
    outline: none;
    padding: 7px;
    border-radius: 7px;
    border: 1px solid #00000096;
    margin-bottom: 12px;
}
label{
    padding-bottom: 7px;
}
.text-area{
    display: flex;
    flex-direction: column;
}
.center-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-send{
    width: 200px;
    padding: 7px;
    border: 2px solid #ffffff;
    background: black;
    color: #ffffff;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 7px;
}
.btn-send:hover{
    background: transparent;
    border: 2px solid black;
    color: black;
    box-sizing: border-box;
    transform: scale(104%);
}
/*
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
.contact-sub-header{
    margin-bottom: 35px;
}


.contact-whats,.contact-email{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}
.contact-txt {
    color: var(--main-p-color);
    text-transform: none;
}
*/

footer{
    width: 100%;
    height: 150px;
    background: var(--main-p-color);
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0 -3px 7px 0;
}
.footer-txt{
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px;
}
.footer-divider{
    background: rgba(236, 236, 236, 0.58);
    width: 1px;
    height: 120px;
    border: none;
}
.footer-icons{
    width: 35px;
    display: flex;
    gap: 20px;
}
.footer-copy{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(236, 236, 236, 0.58);
    background: var(--main-p-color);
    margin-top: 50px;
    gap: 850px;
    height: 60px;
}