@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');
/*Fonte principal do site: font-family: 'Titillium Web', sans-serif; */

:root{
    --main-letters-color: black;
}
*{
    font-family: "Titillium Web", sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: var(--main-letters-color);
}
.nav-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 660px;
    margin: 50px 0 140px 0;
}
.logo{
    width: 240px;
    padding-top: 5px;
}
.menu-nav1{
    font-weight: 700;
    font-size: 1.3rem;
}
.menu-nav2{
    display: flex;
    gap: 20px;
}
.menu-item{
    font-weight: 600;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.content-main{
    width: 60%;
}
.content-header{
    font-size: 2.5rem;
    width: 80%;
    margin-bottom: 25px;
}
.content-paragraph{
    text-transform: capitalize;
    width: 77%;
    text-align: justify;
    margin-bottom: 35px;
}
.content-col1{

}
.content-col2{
    display: flex;
    gap: 15px;
}
.sociais-icon{
    width: 35px;
}
.content-profile{
    width: 50%;
}
.img-none{
    display: none;
}
.icons-skills{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 106px;
    margin-bottom: 35px;
}
.project1{

}
.project1-header{
    margin: 0;
    font-size: 1.5rem;
}
.project1-texts{
    width: 450px;
}
.project1-text{
    width: 100%;
    text-align: justify;
    text-transform: capitalize;
}
.project1-btns{
    display: flex;
    gap: 20px;
}
.btn1, .btn2{
    font-weight: 700;
    padding: 7px 10px;
    color: #000000;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 80px;
    gap: 10px;
}
.git-branco,.go-preto{
    width: 40px;
}
.container-project1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.project1-img{
    width: 450px;
    height: 260px;
    border: 2px solid;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.skills-header, .projects-header{
    margin: 0 77px 35px 77px;
    font-weight: 600;
    border-bottom: 1px solid;
}
.projects-header{
    margin: 0 77px 35px 77px;
}
.skills{
    width: 70px;
}